@use "variables" as *;
@use "preload-css-images.scss";

@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tinos:700&display=swap");

html {
  font-size: 13px;
  font-family: "Nunito", sans-serif;
}
body {
  background-image: linear-gradient(#03151f, #012a3f);
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  &:not(input, button) {
    user-select: none;
  }
}

#Gambit {
  position: relative;
  max-height: 850px;
  height: 100%;
  background-color: #03263b;
  overflow: hidden;

  @media (max-width: '#{$layoutChangeBreakpoint - 1}px') {
    min-width: 320px;
  }

  @media (min-width: '#{$layoutChangeBreakpoint}px') {
    margin: 0 auto;
  }
}

.not-connected-to-websockets-message {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: black 1px 1px 2px;
  width: 200px;
}

.direction-box {
  display: flex;
  flex-direction: column;
  @media (max-width: '#{$layoutChangeBreakpoint - 1}px') {
    flex-direction: column;
  }
  @media (min-width: $layoutChangeBreakpoint) {
    flex-direction: row;
    & > * {
      margin-right: 20px;
      flex: 1;
      &:last-child {
        margin-right: unset;
      }
    }
  }
}

button {
  color: black;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  border: 1px outset black;
}

.turn-phone {
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1050;
  background: white;
  width: 137px;
  height: 70px;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 0 0 0 30px;
  box-shadow: 2px 0px 1px 1px #000000b3;

  &__image {
    background-image: url("../images/icons/turn-phone.png");
    height: 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: cover;
    flex: 1;
  }
  &__message {
    font-size: 8px;
    text-align: center;
    flex: 1;
    padding-left: 16px;
  }
}

.login-ui {
  padding: 20px;
  background-image: url("../images/login-bg.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: left;
  flex-direction: column;

  &__content {
    background: rgba($color: white, $alpha: 0.8);
    font-size: 11px;
    padding: 20px;
    border: black 3px double;
    width: 320px;
  }
  &__text {
    margin-bottom: 6px;
  }
}

* ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
* ::-webkit-scrollbar-track {
  border-radius: 4px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #10839a;
}
