$image-folder: '../../../../../images';

.striking-center{
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: red;
  z-index: 20;

  .striking-range{
    width: 16px;
    height: 20px;
    background-color: #0000ff4d;
    transform: translate(-50%, -50%);
  }
}

.fighter {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: visible;
  &__name {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px black;
    height: 0;
    text-align: center;
    font-size: 12px;    
    transform: translateX(-50%);
    width: 90px;
  }
  &__energy-bar{
    display: none;
    height: 4px;
    width: 100%;
    border: 1px solid black;
    &__inner{
      height: 100%;
      background-color: rgb(157, 191, 255);
    }
  }
  &__spirit{
    margin-left: 5px;
  }
  &__flanked{
    //display: none;
    position: absolute;
    width: 15px;
    height: 17px;
    background-image: url('#{$image-folder}/icons/exclamations.png');
    left: -25px
  }
  
  &__repositioning{
    //display: none;
    position: absolute;
    width: 15px;
    height: 17px;
    background-image: url('#{$image-folder}/icons/exclamations.png');
    left: -25px;
    filter: hue-rotate(160deg);
  }

  &__direction{
    display: none;
    position: absolute;
    width: 11px;
    height: 55px;
    background-image: url('#{$image-folder}/fight-view/direction.png');
    background-size: cover;
    transform-origin: bottom;
    bottom: 0;
  }
  &__image{
    visibility: hidden;
    position: absolute;
    height: 100%;
    object-fit: contain;
    width: 100%;
  }
  &__image-container {
    position: absolute;
    bottom: 0;
    background-size: cover;

  }
}
