

.manager-ui{
  height: 100%;

  &__content{
    background-color: #e0e0f9;
    max-width: 500px;
    margin:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    .headbar{
      height: 31px;
    } 

    .main-content{
      display: flex;
      flex-direction: column;
      padding: 8px;
      box-sizing: border-box;
      flex: 1;      
      overflow: hidden;
      background-image: url('../../../images/bg.jpg');
      background-size: cover;
      background-position-x: right;

      .next-fight{
        margin-bottom: 8px;
      }
      
      .two-columns{
        display: flex;
        flex: 1;
        overflow: hidden;
        justify-content: space-between;
        > * {
          width: 49%;
          display: flex;
          flex-direction: column;
          > * {
            margin-bottom: 8px;
            &:last-child{
              margin-bottom: 0;
            }
          }  
        }
        .your-fighters, .employees, .job-seekers{
          flex: 1;
          min-height: 100px;
          max-height: 160px;
        }
        .known-fighters{
          flex: 2;
          min-height: 100px;
        }
        .activity-log{
          flex: 2;
        }
      }
    }
  }

  .turn-phone-message{
    display: none;
  }

  /* @media screen and (max-height: 600px) and (orientation: landscape) {
    &__content{
      display: none;
    }
    .turn-phone-message{
      display: flex;
    }
  } */
}