.fighter-states{  
  background: linear-gradient(#f9fcffcc, #97bbd1cc);
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 20;
  overflow-y: auto;
  transition: transform .2s;

  &.is-hidden{
    transform: translateX(-80%);

  }


  .fighter-state{    
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 28px 50px;
    padding: 10px;

    &__name{
      grid-row: 1;
      grid-column: 1;
      text-align: center;
    }
    &__image{
      grid-column: 1;
      grid-row: 2;
      background-image: url('../../../../../images/global/fighter.png');
      background-size: contain;
      background-position-x: center;
      background-repeat: no-repeat;
    }
    &__stats{
      grid-column: 2;
      grid-row: 2;
      padding: 10px;
      font-size: .8rem;
      background: white;
      border: 1px solid black;
      border-radius: 5px;
      overflow-y: auto;
      &__fighter-stat{
        &__label{
          width: 60px;
          display: inline-block;
        }
      }
      /* &__strength{}
      &__fitness{}
      &__agression{}
      &__intelligence{}
      &__fights{}
      &__wins{} */
      
    }
    &__state{
      div{
        background-size: contain;
        background-position-x: center;
        background-repeat: no-repeat;
        width: 35px;
        height: 20px;
        display: inline-block;
      }

      &__poisoned-icon{
        background-image: url('../../../../../images/fight-view/state/poisoned.jpg');
      }
      &__injured-icon{
        background-image: url('../../../../../images/fight-view/state/injured.jpg');
      }
      &__doped-icon{
        background-image: url('../../../../../images/fight-view/state/doped.jpg');
      }
    }
  }
}