
  .modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    &__blackout{
      z-index: -1;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.7);
    }
    &__content{
      border: 2px outset #b6cde1;
      background-color: white;
      padding: 15px;
      margin-bottom: 5px;
    }
    &__close-button{    
      align-self: flex-end;
      font-size: 1.2rem;
      background-color: #3787db;
      color: white;
      padding: 1rem 3rem 1rem 2.5rem;
      border: 4px outset #57aef9;
      border-radius: 7px 7px 35px 7px;
    }
    
  }