.select-list{
  &__item{
    display: flex;
    align-items: center;
    height: 24px;
    > * {
      margin-right: 10px;
    }
    .icon{
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
    }
    .fighter-in-next-fight{      
      background-image: url('../../../../../../images/icons/fights.png');
    }
    .your-fighter{
      background-image: url('../../../../../../images/icons/your-fighter-in-fight.png');
    }
    .manager{
      &--fat-man{
        background-image: url('../../../../../../images/icons/manager1-face.png');
      }
      &--moustache-man{
        background-image: url('../../../../../../images/icons/manager2-face.jpg');
      }
    }
    .fighter-icon{
      background-image: url('../../../../../../images/icons/fighter.png');
    }
    .job-seeker{
      background-image: url('../../../../../../images/icons/employee.png');
    }
  }
}