.select-list{
  &__item{
    display: flex;
    height: 24px;
    > * {
      margin-right: 10px;
    }
    .fighter-in-next-fight,  .your-fighter, .manager{
      width: 20px;
      height: 20px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
    }
    .fighter-in-next-fight{      
      background-image: url('../../../../../../images/icons/fights.png');
    }
    .your-fighter{
      background-image: url('../../../../../../images/icons/your-fighter-in-fight.png');
    }
    .manager{
      background-image: url('../../../../../../images/icons/manager1-face.png');
    }
  }
}