.fighter {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: visible;
  &__name {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px black;
    height: 0;
    text-align: center;
    font-size: 12px;    
    transform: translateX(-50%);
  }
  &__flanked{
    position: absolute;
    width: 15px;
    height: 17px;
    background-image: url('./../../../images/icons/flanked.png');
    left: -25px
  }
  &__image {
    position: absolute;
    bottom: 0;

    &--default {
      &--idle {
        background-image: url("./../../../images/fighter/default-skin/walking.png");
      }
      &--punching {
        background-image: url("./../../../images/fighter/default-skin/punch.png");
      }
      &--kicking {
        background-image: url("./../../../images/fighter/default-skin/kick.png");
      }
      &--knocked-out {
        background-image: url("./../../../images/fighter/default-skin/down-and-out.png");
      }
      &--defending {
        background-image: url("./../../../images/fighter/default-skin/defending.png");
      }
      &--dodging {
        background-image: url("./../../../images/fighter/default-skin/dodge.png");
      }
      &--blocking {
        background-image: url("./../../../images/fighter/default-skin/block.png");
      }
      &--taking-hit {
        background-image: url("./../../../images/fighter/default-skin/take-hit.png");
      }
      &--walking {
        background-image: url("./../../../images/fighter/default-skin/walking.png");
      }
      &--recovering {
        background-image: url("./../../../images/fighter/default-skin/recover.png");
      }
      &--victory {
        background-image: url("./../../../images/fighter/default-skin/victory.png");
      }
    }
    &--muscle {
      &--idle {
        background-image: url("./../../../images/fighter/muscle-skin/idle.png");
      }
      &--punching {
        background-image: url("./../../../images/fighter/muscle-skin/punching.png");
      }
      &--kicking {
        background-image: url("./../../../images/fighter/muscle-skin/kicking.png");
      }
      &--knocked-out {
        background-image: url("./../../../images/fighter/muscle-skin/knocked-out.png");
      }
      &--defending {
        background-image: url("./../../../images/fighter/muscle-skin/defending.png");
      }
      &--dodging {
        background-image: url("./../../../images/fighter/muscle-skin/dodging.png");
      }
      &--blocking {
        background-image: url("./../../../images/fighter/muscle-skin/blocking.png");
      }
      &--taking-hit {
        background-image: url("./../../../images/fighter/muscle-skin/taking-hit.png");
      }
      &--walking {
        background-image: url("./../../../images/fighter/muscle-skin/walking.png");
      }
      &--recovering {
        background-image: url("./../../../images/fighter/muscle-skin/recovering.png");
      }
      &--victory {
        background-image: url("./../../../images/fighter/muscle-skin/victory.png");
      }
    }
    &--fast {
      &--idle {
        background-image: url("./../../../images/fighter/fast-skin/idle.png");
      }
      &--punching {
        background-image: url("./../../../images/fighter/fast-skin/punching.png");
      }
      &--kicking {
        background-image: url("./../../../images/fighter/fast-skin/kicking.png");
      }
      &--knocked-out {
        background-image: url("./../../../images/fighter/fast-skin/knocked-out.png");
      }
      &--defending {
        background-image: url("./../../../images/fighter/fast-skin/defending.png");
      }
      &--dodging {
        background-image: url("./../../../images/fighter/fast-skin/dodging.png");
      }
      &--blocking {
        background-image: url("./../../../images/fighter/fast-skin/blocking.png");
      }
      &--taking-hit {
        background-image: url("./../../../images/fighter/fast-skin/taking-hit.png");
      }
      &--walking {
        background-image: url("./../../../images/fighter/fast-skin/walking.png");
      }
      &--recovering {
        background-image: url("./../../../images/fighter/fast-skin/recovering.png");
      }
      &--victory {
        background-image: url("./../../../images/fighter/fast-skin/victory.png");
      }
    }
  }
}
