.report-card-modal{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom:0;
  z-index: 1;

  .background{
    position: absolute;
    background: #000a;
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    z-index: -1;
  }
  .report-card{
    background: url('../../../../../../images/manager-view/report.png') no-repeat; 
    width: 80%;
    z-index: 1;
    margin: 30px auto 0;
    background-size: contain;
    padding: 18vw 18vw 17vw 20vw;
    height: 93vw;
    
    .list{
      padding-right: 0;
      &__row{
        padding: 4px;
        margin-bottom: 0;
        &--main-color{
          background-color: #eefbff;
        }
        &--alternate-color{
          background-color: #e2ffe5;
        }
        &--critical{
          background-color: #ffdede;
          color: #ce0000;
        }
        &--new-round{
          background-color: #ccc;
          font-weight: bold;
          color: #666;
          border-bottom: #666 solid 1px;
        }
      }
    }
  }
}