.report-card-modal{
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  bottom:0;
  z-index: 1;

  .background{
    position: absolute;
    background: #000a;
    width: 100%;
    left: 0;
    top: 0;
    bottom:0;
    z-index: -1;
  }
  
  .report-card-container{
    width: 80%;
    z-index: 1;
    max-width: 80vh;
    margin-top: 30px;
    min-width: 400px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
  .report-card{
    background: url('../../../../../../images/manager-view/report.png') no-repeat; 
    background-size: contain;
    padding-bottom: 102%;
    position: relative;


    &__content{
      display: flex;
      flex-direction: column;
      padding: 23% 24% 5% 26%;
      position: absolute;
      height: 100%;
      width: 100%;

      .list{
        padding-right: 0;
        overflow-y: auto;
        &__row{
          margin-bottom: 0;
          display: flex;

          &__name{
            padding: 4px 0;
          }

          
          .color-bar {
            width: 20px;
            margin-right: 8px;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}