@import '../../../manager-view-style/manager-view-variables';

.ability-card{

  input.money-offer{
    width: 40px;
  }

  &__image{    
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    min-height: 120px;

    $abilities: '../../../../../../images/manager-view/abilities';

    
    &__dope-fighter{
      background-image: url('#{$abilities}/dope-fighter.png');
    }
    &__assault-fighter{
      background-image: url('#{$abilities}/assault-fighter.jpg');
    }
    &__research-fighter{
      background-image: url('#{$abilities}/research-fighter.png');
    }
    &__do-surveillance{
      background-image: url('#{$abilities}/do-surveillance.jpg');
    }
    &__train-fighter{
      background-image: url('#{$abilities}/train-fighter.png');
    }
    &__promote-fighter{
      background-image: url('#{$abilities}/promote-fighter.png');
    }
    &__murder-fighter{
      background-image: url('#{$abilities}/murder-fighter.jpg');
    }
    &__offer-contract{
      background-image: url('#{$abilities}/offer-contract.png');
    }
    &__guard-fighter{
      background-image: url('#{$abilities}/guard-fighter.jpg');
    }
    &__poison-fighter{
      background-image: url('#{$abilities}/poison-fighter.jpg');
    }
    &__assault-fighter{
      background-image: url('#{$abilities}/assault-fighter.jpg');
    }
    &__prosecute-manager{
      background-image: url('#{$abilities}/sue-manager.jpg');
    }
    &__gather-evidence{
      background-image: url('#{$abilities}/gather-evidence.png');
    }
    &__take-a-dive{
      background-image: url('#{$abilities}/take-a-dive.jpg');
    }
    &__sell-drugs{
      background-image: url('#{$abilities}/sell-drugs.jpg');
    }
    &__investigate-manager{
      background-image: url('#{$abilities}/investigate-manager.jpg');
    }
    &__domination-victory{
      background-image: url('#{$abilities}/domination-victory.jpg');
    }
    &__sinister-victory{
      background-image: url('#{$abilities}/sinister-victory.jpg');
    }
    &__wealth-victory{
      background-image: url('#{$abilities}/wealth-victory.jpg');
    }
  }
  &__description {
    padding: 10px;
    border: 1px solid $blue-border;
    background: $blue-light;
    margin-bottom: 10px;
  }

  .target, .source {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.1rem;
    align-items: center;

    &__label{
      margin-right: $label-right-margin;
    }
    &__value{
      flex: 1;
      color: blue;
      font-size: 1.2rem;
      &--required{
        font-style: italic;
        color: $warning-red;
      }
    }
  }
  .evidence-items-container{
    margin-top: 20px;
    overflow-y: auto;

    .illegal-activity{
      &__name{
        text-transform: capitalize;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}