

.fight{
  position: relative;
  height: 100%;
  background-color: #efefef;

  .arena{
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;
    &__behind{
      z-index: 1;
      position: absolute;
      background-image: url('./../../images/arena/fight-arena-behind.png');
      width: 100%;
      height: 30vw;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &__fight-area{
      z-index: 2;
      position: absolute;
      width: 100%;
      height: 63vw;
    }
    &__infront{
      z-index: 3;
      position: absolute;
      background-image: url('./../../images/arena/fight-arena-infront.png');
      width: 100%;
      width: 100%;
      height: 63vw;
      background-size: cover;
      background-repeat: no-repeat;
      
    }

  }

  &__count-down, &__winner, &__time-remaining{
    position: absolute;
    text-shadow: 1px 1px 2px #000;
    font-size: 4rem;
    width: 20rem;
    text-align: center;
    top: 2rem;
    left: 0px;
    right: 0px;
    color: #3f3;
    z-index: 4;
    margin: auto;
  }
  

  &__time-remaining{
    font-size: 1.7rem;
    width: 14rem;
    text-align: left;
  }
}
