

.fight-ui{
  height: 100%;


  
  &__count-down, &__winner, &__time-remaining{
    position: absolute;
    text-shadow: 1px 1px 2px #000;
    font-size: 2rem;
    width: 220px;
    text-align: center;
    top: 40px;
    left: 0px;
    right: 0px;
    color: #3f3;
    z-index: 4;
    margin: auto;
  }
  

  &__time-remaining{
    top: 40px;
    text-align: left;
  }
  &__winner{    
    font-size: 5rem;
    top: 280px;
    z-index: 1000;
    width: auto;
    font-family: 'Bangers';
    letter-spacing: 6px;
    color: #5490ff;
  }


  &__content{

    .container{
      background-color: #efefef;
      margin: auto;
      width: 1217px;
      height: 798px;
      position: relative;
      overflow: hidden;
      $fightUi: '../../images/fight-ui';
    
    
      .background-top{
        background-image: url('#{$fightUi}/arena/fight-arena-behind.png');
        width: 1217px;
        height: 798px;
        position: absolute;
        left: 0;
        bottom: 0;
      }
      .background-bottom{
        background-image: url('#{$fightUi}/arena/fight-arena-infront.png');
        width: 1217px;
        height: 798px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1000;
      }
      .octagon{        
        position: absolute;
        width: 782px;
        height: 355px;
        bottom: 223px;
        left: 218px;   
        
        .point{
          width: 4px;
          height: 4px;
          position: absolute;
          background-color: red;
          z-index: 10000;
        }
        
      }  
      
      .fight-explosion{
        background-image: url('#{$fightUi}/fight.png');
        width: 656px;
        height: 500px;
        background-size: cover;
        position: absolute;
        z-index: 10000;
        top: 80px;
        left: 0;
        right: 0;
        margin: auto;
        transition: all .4s;
        
        &--start{
          transform: scale(.5);
          opacity: 0;
        }
        &--grow{
          transform: scale(1);
          opacity: 1;

        }
        &--shrink-and-fade{
          transition: 'transform' .8s;
          transform: scale(.9);
          opacity: 0;

        }
        &--removed{
          display: none;
        }
      }
      
    }

  }

  .turn-phone-message{
    display: none;
  }
  @media all and (orientation: portrait) {
    &__content{
      display: none;
    }
    .turn-phone-message{
      display: flex;
    }
  }
}


