#manager-ui{
  height: 100%;
  background-color: #e0e0f9;

  .standard-button {
    background: #3b6056;
    color: white;
    padding: .3rem .5rem;
    border: 2px outset #3b6056;
    border-radius: 2px;
  }

  .headbar{
    height: 7vh;
    background-color: #344a44;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
      font-size: 1.5rem;
      margin-left: 2vw;
    }

    &__right {
      margin-right: 2vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 1rem;
      font-size: 1.5rem;

      & > * {
        margin-left: .5rem;
      }

      .money{
        background-image: url('./../images/icons/money.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 2rem;
      }

      .action-points{
        background-image: url('./../images/icons/action-points.png');
        background-size: contain;
        background-repeat: no-repeat;
        padding-left: 2rem;
      }
    }

  }

  .main-content{
    .heading{
      font-size: 1.1rem;
      margin-bottom: 1vh;
      border-bottom: 1px solid grey;
      padding-bottom: .5vh;
    }
    .group-panel {
      border: 2px outset #256152;
      box-sizing: border-box;
      margin: 1vh 2vw;
      height: 22vh;
      padding: 2vw;
      background-color: white;
      vertical-align: top;

      &__left, &__right {
        display: inline-block;
        width: 50%;
        vertical-align: top;
      }
      .list{
        margin-top: 1vh;
        height: 10vh;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
        }
        
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #344944;
          border-radius: 10px;
        }

        &__row{
          margin: .5rem 0;
          &__image{
            background-size: 100%;
            background-repeat: no-repeat;
            display: inline-block;
            vertical-align: middle;
          }
          &__name{
            vertical-align: middle;
          }
        }
      }
      .fighter-list{
        .list__row{
          &__image{
            background-image: url('./../images/fighter/idle.png');
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }
      .employee-list{
        .list__row{
          &__image{
            background-image: url('./../images/icons/employee.png');
            width: 2rem;
            height: 2.5rem;
            margin-right: .5rem;
          }
        }
      }
    }
  }

  .action-modal{
    position: absolute;
    top: 0;
    &__blackout{
      position: absolute;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0,0,0,0.7);
    }
    &__content{
      border: 2px outset #b6cde1;
      background-color: rgba(255, 255, 255, 0.95);
      z-index: 1;
      position: relative;
      width: 90vw;
      height: 70vh;
      padding: 2vh 2vw;
      margin: 10vh 5vw 0;
      box-sizing: border-box;      
    }
    &__close-button{
      z-index: 1;
      position: relative;
      float: right;
      margin: 1vh 5vw 0 0;
      font-size: 1.5rem;
      background-color: #71a4d1;
      color: white;
      padding: .5rem 1.5rem;
      border: 2px outset #b6cde1;
      border-radius: 2px;
    }
    
  }
}