.fighter-list{
  &__fights{
    font-size: 1.3rem;
    width: 6rem;
    display: inline-block;
    margin-left: 1rem;
    .fights-icon{
      background-image: url('../../../../../images/icons/fights.png');
      display: inline-block;
      background-size: 1.5rem;
      height: 2rem;
      background-repeat: no-repeat;
      position: relative;
      top: 0px;
      padding-top: 1.6rem;
      box-sizing: border-box;
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 0.7rem;
      text-align: center;
    }
  }
  .list__row{
    position: relative;

    .your-fighter-in-fight-icon{
      background-image: url('../../../../../images/icons/your-fighter-in-fight.png');
      width: 1.2rem;
      height: 1.2rem;
      background-size: cover;
      position: absolute;
      top: -5px;
      left: 20px;
    }
    &__image{
      background-image: url('../../../../../images/fighter/default-skin/defending.png');
      width: 26px;
      height: 26px;
      border: 1px solid grey;
      box-sizing: border-box;
      border-radius: 4rem;
      background-size: 3.5rem;
      background-position: -0.6rem -0.1rem;
      background-color: #fff9e8;
      margin-right: 8px;
    }
  }
}