@import '../../../../../global/styles/manager-options-ui/manager-options-ui-variables';
.headbar {
  background-color: $blue-background;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 10px;

  .finished-turn input {
    margin: 0;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin-left: 5px;
  }

  .money,
  .action-points {
    margin-left: 10px;
  }
}
