$image-folder: "../../../../images";
$fightUi: "#{$image-folder}/fight-view";

.fight-ui {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  overflow: hidden;

  &__count-down,
  &__winner,
  &__time-remaining {
    position: absolute;
    text-shadow: 1px 1px 2px #000;
    font-size: 2rem;
    text-align: center;
    top: 40px;
    left: 0px;
    right: 0px;
    color: #3f3;
    z-index: 4;
    margin: auto;
  }

  &__time-remaining {
    top: 40px;
    text-align: left;
    width: 280px;
  }
  &__winner {
    font-size: clamp(1rem, 10vh, 4rem);
    top: 50vh;
    z-index: 1050;
    font-family: "Bangers";
    letter-spacing: 6px;
    color: #5490ff;
    transform: translateY(-50%);
  }

  .arena-ui {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;

    .background-top {
      background-image: url("#{$fightUi}/arena/fight-arena-behind.png");
      width: 100%;
      position: absolute;
      left: 0;
      top: 60%;
      transform: translateY(-50%);
      background-size: contain;
      padding-bottom: 65.557%;
    }
    .background-bottom {
      background-image: url("#{$fightUi}/arena/fight-arena-in-front.png");
      width: 100%;
      position: absolute;
      left: 0;
      top: 60%;
      transform: translateY(-50%);
      z-index: 2;
      background-size: contain;
      padding-bottom: 65.557%;
    }

    .octagon {
      position: absolute;
      width: 63.8%;
      height: 0;
      top: 60%;
      left: 18.5%;
      z-index: 1;
      transform: translateY(-50%);
      padding-bottom: 28.6%;

      .point {
        display: none;
        width: 4px;
        height: 4px;
        position: absolute;
        background-color: red;
      }
    }
  }

  .fight-explosion {
    max-width: 656px;
    width: 100%;
    position: absolute;
    z-index: 1070;
    top: 50%;
    left: 50%;
    margin: auto;
    transition: all 0.4s;
    transform: translate(-50%, -50%) scale(0.5);

    &--start {
      transform: translate(-50%, -50%) scale(0.5);
      opacity: 0;
    }
    &--grow {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
    &--shrink-and-fade {
      transition: "transform" 0.8s;
      transform: translate(-50%, -50%) scale(0.9);
      opacity: 0;
    }
    &--removed {
      display: none;
    }

    &__inner {
      background-image: url("#{$fightUi}/fight.png");
      padding-bottom: 76.2%;
      width: 100%;
      background-size: cover;
    }
  }

  .turn-phone {
    display: none;
  }
  @media all and (orientation: portrait) {
    &__content {
      display: none;
    }
    .turn-phone {
      display: flex;
    }
  }

  .sound-icon {
    background-image: url("#{$fightUi}/sound-toggle.png");
    width: 40px;
    height: 30px;
    position: absolute;
    right: 3%;
    z-index: 100;
    top: 15%;
    background-size: cover;
    background-repeat: no-repeat;

    &--on {
      background-position-y: -30px;
    }
  }
}
