$image-folder: '../../../../../images';


.managers-bets{
  display: flex;
  justify-content: center;
  position: absolute;
  height: 150px;
  bottom: 0;
  width: 100%;
  background: linear-gradient(#c6c6a9cc, #776c8fcc);
  z-index: 20;
  overflow-x: auto;
  transition: transform .2s;
  align-items: center;
  padding-top: 0%;

  .has-winnings &{
    height: 100%;
    background: #e2d6fbaa;  
    transform:translateY(0) !important;
    transition: all 1s;
    padding-top: 10%;
  }
  
  &.is-hidden{
    transform: translateY(80%);

  }

  .managers-bet{      
    font-size: 1.5rem;
    display: flex;
    margin-right: 30px;
    align-items: center;
    margin-right: 20px;
    align-items: center;
    padding: 6px 10px;
    background: white;
    position: relative;

    &__manager{
      
      &:last-child{
        margin-right: 0;
      }
      &__name{
        text-align: center;
      }
      &__image{
        width: 35px;
        height: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        &--fat-man{
          background-image: url('#{$image-folder}/icons/manager1.png');
        }
        &--sleazy-guy{
          background-image: url('#{$image-folder}/icons/manager2.jpg');
        }
      }
    }


    .fighter-bet-on{
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center;
      margin-right: 20px;
      &:last-child{
        margin-right: 0;
      }
      &__name{      
        font-size: 10px;
        padding-top: 3px;
        display: inline-block;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      
      &__image{
        background-image: url('#{$image-folder}/global/fighter.png');     
        width: 40px;
        height: 52px;
        margin: 0 auto 5px;
        border: 1px solid #1b4965;
        border-radius: 3px;
        background-position-y: 20px;
        background-repeat: no-repeat;
        background-color: rgb(62 135 156);
        background-size: cover;
      }
      &__amount {
        font-size: 12px;
        font-weight: bold;
        text-transform: capitalize;
      }
    }
  }
}