$image-folder: '../../../../../images';

.managers-bets{
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 100000;
  justify-content: center;
  width: 100%;

  .managers-bet{      
    font-size: 1.5rem;
    display: flex;
    margin-right: 20px;

    .manager{
      margin-right: 20px;
      padding: 12px 10px 4px;
      
      &:last-child{
        margin-right: 0;
      }
      &__name{
        text-align: center;
      }
      &__image{
        width: 70px;
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        &--fat-man{
          background-image: url('#{$image-folder}/icons/manager1.png');
        }
        &--sleazy-guy{
          background-image: url('#{$image-folder}/icons/manager2.jpg');
        }
      }
    }


    .fighter-bet-on{
      display: flex;
      flex-direction: column;
      position: relative;
      text-align: center;
      margin-right: 20px;
      align-self: center;
      &:last-child{
        margin-right: 0;
      }
      &__name{      
        font-size: 1.3rem;
        padding-top: 8px;
        display: inline-block;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
      }
      
      &__image{
        background-image: url('#{$image-folder}/global/fighter.png');    
        width: 80px;
        height: 100px;
        margin: 0 auto 5px;
        border: 2px solid #1b4965;
        border-radius: 6px;
        background-position-y: 30px;
        background-repeat: no-repeat;
        background-color: rgba(144, 209, 228, 0.7);
        background-size: cover;
      }
    }
  }
}