

.standard-button {
  background: $blue-background;
  color: white;
  padding: 0.3rem 0.5rem;
  border: 4px outset $blue-border;
  border-radius: 2px;
  font-size: 1.1rem;
}

.heading {
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  width: 100%;
}

hr {
  margin: 20px 0;
}

.warning-message {
  color: $warning-red;
  font-style: italic;
}

.group-panel {
  border: 1px outset $blue-border;
  box-sizing: border-box;
  background-color: rgba(245, 252, 255, 0.96);
  vertical-align: top;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .list {
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-right: 7px;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #344944;
      border-radius: 10px;
    }

    &__row {
      display: flex;
      margin-bottom: 5px;
      align-items: center;
      &__image {
        background-repeat: no-repeat;
        flex: none;
        margin-right: 5px;
      }
      &__name{
        flex: 1;
      }
    }
  }
}
