

.standard-button {
  background: $blue-background;
  color: white;
  padding: 0.3rem 0.5rem;
  border: 4px outset $blue-border;
  border-radius: 2px;
  font-size: 1.1rem;
}

.heading {
  font-size: 1.1rem;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
  width: 100%;
}

hr {
  margin: 20px 0;
}

.warning-message {
  color: $warning-red;
  font-style: italic;
}

.panel {
  border: 1px outset $blue-border;
  background-color: rgba(245, 252, 255, 0.96);
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  .list {
    overflow-y: scroll;
    padding-right: 7px;

    &__row {
      margin-bottom: 3px;
      display: flex;
      

      .color-bar {
        width: 20px;
        margin-right: 8px;
      }
      &--new-round {
        border-bottom: 2px black solid;
        background: rgba(0,0,0,0.1);
      }
      
      
      &__image {
        background-repeat: no-repeat;
        flex: none;
        margin-right: 5px;
      }
      &__name{
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 3px 0px;

        .small{
          font-size: 0.8em;
          vertical-align: top;
          margin-left: 3px;
        }
      }

    }

  }
  &.activity-logs{
    .list {

      &__row {
        margin-bottom: 0px;
      }
        
      &__name{
        padding: 2px 5px;
      }
    }    
  }
}

