@use '../../../../styles/variables' as *;
@import './manager-view-variables';
@import './manager-view-blocks';

$images: '../../../../images';

.manager-ui{
  height: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin: auto;

  &__content{
    margin:auto;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    width: 100%;
    max-height: 100%;

    .headbar{
      height: 32px;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;
    } 

    .main-content{
      position: relative;
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      padding: 8px;
      box-sizing: border-box;
      background-image: url('#{$images}/bg.jpg');
      background-size: cover;
      background-position: right center;
      overflow-y: auto;
      position: relative;
      flex: 1;
      max-height: calc(100vh - 32px);

      .next-fight{
        margin-bottom: 8px;
      }
      
      .two-columns{
        min-height: 320px;
        display: flex;
        flex: 1;
        overflow: hidden;
        justify-content: space-between;
        width: 100%;
        > * {
          width: 49%;
          display: flex;
          flex-direction: column;
          > * {
            margin-bottom: 8px;
            &:last-child{
              margin-bottom: 0;
            }
          }  
        }
        .your-fighters, .employees, .job-seekers{
          flex: 1 0;
          min-height: 100px;
          min-height: 130px;
        }
        .known-fighters{
          flex: 2;
          min-height: 100px;
        }
        .activity-log{
          flex: 2;
        }
      }
    }
  }

  .turn-phone-message{
    display: none;
  }

  /* @media screen and (max-height: 600px) and (orientation: landscape) {
    &__content{
      display: none;
    }
    .turn-phone-message{
      display: flex;
    }
  } */

  @media (min-width: $layoutChangeBreakpoint){
    
    .main-content{
      flex-direction: row;

      .next-fight {
        margin-bottom: 8px;
        padding-right: 40px;
        width: 270px;
      }
    }

  }
}