.employee-list{
  .list__row{
    &__image{
      background-image: url('../../../../images/icons/employee.png');      
      width: 16px;
      height: 16px;
      background-size: contain;
    }
  }
}