@use "../../../manager-view-style/manager-view-variables" as *;
.headbar {
  background-color: $blue-background;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 0 10px;

  .finished-turn input {
    margin: 0;
    vertical-align: middle;
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }

  .player-ready {
    border-radius: 100%;
    width: 0.4rem;
    height: 0.4rem;
    border: 1px solid black;
    &--true {
      background-color: lime;
    }
    &--false {
      background-color: #ff8d8d;
    }
  }

  .money,
  .action-points {
    margin-left: 10px;
  }
}
