@use '../../../../../styles/variables' as *;

.card{  
  &__two-columns{
    display: flex;
    width: 100%;
    &__left{
      display: inline-block;
      margin-right: 20px;
      width: 80px;
    }
    &__right{
      flex: 1
    }
  }

  &__options{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px ;
    width: 100%;


  }


}