
.fights, .wins{
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 10px;
  .icon{
    display: inline-block;
    background-size: 1.5rem;
    height: 2rem;
    background-repeat: no-repeat;
    position: relative;
    top: 0px;
    padding-top: 1.6rem;
    box-sizing: border-box;
    vertical-align: middle;
    margin-right: 1rem;
    font-size: 0.7rem;
    text-align: center;
  }
}
.fights{
  .icon{
    background-image: url('../../../../../images/icons/fights.png');
  }
}
.wins{
  .icon{
    background-image: url('../../../../../images/icons/wins.png');
  }
}
