$image-folder: '../../../../../images';

.striking-center{
  display: none;
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: red;
  z-index: 1000;

  .striking-range{
    width: 16px;
    height: 20px;
    background-color: #0000ff4d;
    transform: translate(-50%, -50%);
  }
}

.fighter {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  overflow: visible;
  &__name {
    position: absolute;
    color: white;
    text-shadow: 1px 1px 2px black;
    height: 0;
    text-align: center;
    font-size: 12px;    
    transform: translateX(-50%);
    width: 90px;
    .spirit{
      margin-left: 5px;
    }
  }
  &__flanked{
    position: absolute;
    width: 15px;
    height: 17px;
    background-image: url('#{$image-folder}/icons/exclamations.png');
    left: -25px
  }
  
  &__repositioning{
    position: absolute;
    width: 15px;
    height: 17px;
    background-image: url('#{$image-folder}/icons/exclamations.png');
    left: -25px;
    filter: hue-rotate(160deg);
  }
  
  &__direction{
    display: none;
    position: absolute;
    width: 11px;
    height: 55px;
    background-image: url('#{$image-folder}/fight-ui/direction.png');
    background-size: cover;
    transform-origin: bottom;
    bottom: 0;
  }
  &__image {
    position: absolute;
    bottom: 0;

    
    $fighter-images: '#{$image-folder}/fighter';

    &--default {
      &--idle {
        background-image: url("#{$fighter-images}/default-skin/walking.png");
      }
      &--punching {
        background-image: url("#{$fighter-images}/default-skin/punching.png");
      }
      &--kicking {
        background-image: url("#{$fighter-images}/default-skin/kicking.png");
      }
      &--knocked-out {
        background-image: url("#{$fighter-images}/default-skin/knocked-out.png");
      }
      &--defending {
        background-image: url("#{$fighter-images}/default-skin/defending.png");
      }
      &--dodging {
        background-image: url("#{$fighter-images}/default-skin/dodging.png");
      }
      &--blocking {
        background-image: url("#{$fighter-images}/default-skin/blocking.png");
      }
      &--taking-hit {
        background-image: url("#{$fighter-images}/default-skin/taking-hit.png");
      }
      &--walking {
        background-image: url("#{$fighter-images}/default-skin/walking.png");
      }
      &--recovering {
        background-image: url("#{$fighter-images}/default-skin/recovering.png");
      }
      &--victory {
        background-image: url("#{$fighter-images}/default-skin/victory.png");
      }
    }
    &--muscle {
      &--idle {
        background-image: url("#{$fighter-images}/muscle-skin/idle.png");
      }
      &--punching {
        background-image: url("#{$fighter-images}/muscle-skin/punching.png");
      }
      &--kicking {
        background-image: url("#{$fighter-images}/muscle-skin/kicking.png");
      }
      &--knocked-out {
        background-image: url("#{$fighter-images}/muscle-skin/knocked-out.png");
      }
      &--defending {
        background-image: url("#{$fighter-images}/muscle-skin/defending.png");
      }
      &--dodging {
        background-image: url("#{$fighter-images}/muscle-skin/dodging.png");
      }
      &--blocking {
        background-image: url("#{$fighter-images}/muscle-skin/blocking.png");
      }
      &--taking-hit {
        background-image: url("#{$fighter-images}/muscle-skin/taking-hit.png");
      }
      &--walking {
        background-image: url("#{$fighter-images}/muscle-skin/walking.png");
      }
      &--recovering {
        background-image: url("#{$fighter-images}/muscle-skin/recovering.png");
      }
      &--victory {
        background-image: url("#{$fighter-images}/muscle-skin/victory.png");
      }
    }
    &--fast {
      &--idle {
        background-image: url("#{$fighter-images}/fast-skin/idle.png");
      }
      &--punching {
        background-image: url("#{$fighter-images}/fast-skin/punching.png");
      }
      &--kicking {
        background-image: url("#{$fighter-images}/fast-skin/kicking.png");
      }
      &--knocked-out {
        background-image: url("#{$fighter-images}/fast-skin/knocked-out.png");
      }
      &--defending {
        background-image: url("#{$fighter-images}/fast-skin/defending.png");
      }
      &--dodging {
        background-image: url("#{$fighter-images}/fast-skin/dodging.png");
      }
      &--blocking {
        background-image: url("#{$fighter-images}/fast-skin/blocking.png");
      }
      &--taking-hit {
        background-image: url("#{$fighter-images}/fast-skin/taking-hit.png");
      }
      &--walking {
        background-image: url("#{$fighter-images}/fast-skin/walking.png");
      }
      &--recovering {
        background-image: url("#{$fighter-images}/fast-skin/recovering.png");
      }
      &--victory {
        background-image: url("#{$fighter-images}/fast-skin/victory.png");
      }
    }
  }
}
