body{
  margin: 0;
  display: none;
}

.container{
  
  display: grid;
  height: 100vh;
  overflow: hidden;
  position: relative;

  .news-paper{
    display: none;
    object-fit: contain;
    width: 800px;
    justify-self: center;
    align-self: center;
    position: relative;
    right: -70%;
    top: -70%;
    transform: scale(2);
  }
}
