$image-folder: '../../../../../../images';
.manager-card{

  .card__two-columns{
    margin-bottom: 20px;
  }
  
  &__image{
    width: 63px;
    background-size: contain;
    &--fat-man{
      background-image: url('#{$image-folder}/icons/manager1.png');
    }
    &--sleazy-guy{
      background-image: url('#{$image-folder}/icons/manager2.jpg');
    }
  }
}
