$image-folder: '../../../images';
$fightUi: '#{$image-folder}/fight-view';

.fight-ui{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  overflow: hidden;
  
  &__count-down, &__winner, &__time-remaining{
    position: absolute;
    text-shadow: 1px 1px 2px #000;
    font-size: 2rem;
    text-align: center;
    top: 40px;
    left: 0px;
    right: 0px;
    color: #3f3;
    z-index: 4;
    margin: auto;

    .has-winnings &{
      top: 100px;
      transition: top 2s;
    }
  }
  

  &__time-remaining{
    top: 40px;
    text-align: left;
    width: 280px;
  }
  &__winner{    
    font-size: 5rem;
    top: 280px;
    z-index: 1050;
    font-family: 'Bangers';
    letter-spacing: 6px;
    color: #5490ff;
  }



  .arena-ui{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #f0f0f0;
  
  
    .background-top{
      background-image: url('#{$fightUi}/arena/fight-arena-behind.png');
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-size: contain;
      padding-bottom: 65.557%;
    }
    .background-bottom{
      background-image: url('#{$fightUi}/arena/fight-arena-infront.png');
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      background-size: contain;
      padding-bottom: 65.557%;
    }
    
    .octagon{        
      position: absolute;
      width: 63.8%;
      height: 0;
      top: 50%;
      left: 18.5%;
      z-index: 1;
      transform: translateY(-50%);
      padding-bottom: 28.6%;
      
      .point{
        display: none;
        width: 4px;
        height: 4px;
        position: absolute;
        background-color: red;
      }
      
    }  
    
    
    
    
  }

  .fight-explosion{
    background-image: url('#{$fightUi}/fight.png');
    width: 656px;
    height: 500px;
    background-size: cover;
    position: absolute;
    z-index: 1070;
    top: 80px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .4s;
    
    &--start{
      transform: scale(.5);
      opacity: 0;
    }
    &--grow{
      transform: scale(1);
      opacity: 1;

    }
    &--shrink-and-fade{
      transition: 'transform' .8s;
      transform: scale(.9);
      opacity: 0;

    }
    &--removed{
      display: none;
    }
  }

  .turn-phone{
    display: none;
  }
  @media all and (orientation: portrait) {
    &__content{
      display: none;
    }
    .turn-phone{
      display: flex;
    }
  }
}


