@use "../../../manager-view-style/manager-view-variables" as *;
.loan-shark-card {
  font-size: 16px;

  &__loan-tool {
    display: flex;
    justify-content: space-around;
    &__heading {
      font-size: 1.1rem;
    }
    &__left,
    &__right {
      width: 40%;
      display: inline-block;
      vertical-align: top;

      input {
        width: 100%;
        border: 2px inset $blue-light;
        margin: 0.6rem 0;
        border-radius: 2px;

        &[disabled] {
          filter: grayscale(100);
        }
      }
    }
  }

  &__image {
    background: url("../../../../../../images/icons/loan-shark.png") no-repeat;
    background-size: 100%;
    min-height: 160px;
    aspect-ratio: 4/3;
    background-size: contain;
  }
  &__debt {
    margin: 20px auto;
    text-align: center;
    font-size: 2rem;
  }
}
