
$preFightImagesFolder: '../../../images/pre-fight';

.pre-fight-news{
  height: 100vh;
  overflow: hidden;
  position: relative;
  &__background{
    background-image: url('#{$preFightImagesFolder}/pre-fight-news-bg.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    width: 100%;
    background-position-x: center;
    filter: blur(2px) brightness(0.3) grayscale(0.3) saturate(0.5);
    background-size: cover;

  }

  .news-item{
    background-image: url('#{$preFightImagesFolder}/news-bg.png');
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    height: 333px;
    margin: auto;
    width: 500px;
    justify-self: center;
    align-self: center;
    right: -70%;
    top: -70%;
    transform: scale(2);

    &.is-showing{
      right: 0;
      top: 0;
      transform: scale(1);
      transition: all 0.2s ease-out;
    }

    &__news-paper-heading{
      position: absolute;
      top: 20%;
      height: 40px;
      width: 59%;
      left: 14%;
      transform: rotate(-7deg);
      font-size: 3rem;
      text-transform: capitalize;
      font-weight: bold;
      font-family: Tinos;
      
    }
    &__article-heading{
      position: absolute;
      top: 44%;
      height: 40px;
      width: 59%;
      left: 16%;
      transform: rotate(-7deg);
      font-size: 1.5rem;
      font-family: Tinos;
      text-transform: capitalize;
    }

    &__message{    
      position: absolute;
      top: 50%;
      height: 140px;
      width: 17%;
      left: 57%;
      transform: rotate(-7deg);
    }
    &__image{
      position: absolute;
      top: 56%;
      background-size: contain;
      background-repeat: no-repeat;
      height: 100px;
      width: 37%;
      background-position-x: center;
      border: 1px solid #ceccc4;
      background-color: #fffef7;
      left: 17%;
      transform: rotate(-7deg);
      
      &--assaulted{
        background-image: url('#{$preFightImagesFolder}/assaulted.jpg');
      }
      &--poisoned{
        background-image: url('#{$preFightImagesFolder}/drug-overdose.jpg');
      }
      &--murdered{
        background-image: url('#{$preFightImagesFolder}/murder-news.jpg');
      }
      &--doped{
        background-image: url('#{$preFightImagesFolder}/doped.jpg');
      }
      &--guarded{
        background-image: url('#{$preFightImagesFolder}/guarded.png');
      }
      &--sick{
        background-image: url('#{$preFightImagesFolder}/sick.png');
      }
      &--hallucinating{
        background-image: url('#{$preFightImagesFolder}/hallucinate.jpg');
      }
      &--after-training{
        background-image: url('#{$preFightImagesFolder}/after-training.png');
      }
    }
  }
}